<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create New Todo</ion-title>
    <ion-icon name="close" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-textarea [(ngModel)]="taskName" placeholder="Write your todo here"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-select label="Priority" label-placement="floating" [(ngModel)]="taskPriority">
        <ion-select-option value="low">Low</ion-select-option>
        <ion-select-option value="middle">Middle</ion-select-option>
        <ion-select-option value="high">High</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Due Date</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [(ngModel)]="taskDate" id="datetime" presentation="date-time"
            [preferWheel]="true"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>Category</ion-label>
      <span>{{ taskCategory }}</span>

    </ion-item>
    <ion-item>
      <ion-chip *ngFor="let item of categories; let i = index" class="ion-justify-content-center" (click)="selectedCategory(i)">
        <ion-label>{{ item }}</ion-label>
      </ion-chip>
    </ion-item>

    <ion-button class="ion-margin" expand="block" (click)="addTodo()">Create New</ion-button>
  </ion-card>

</ion-content>
